#registerFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
 
.registerInputs {
    padding-left: 10px;
    margin-left: 5px;
    font-size: 15px;
    width: 50px;
    align-self: center;
    margin-bottom: 5px;
    text-transform: lowercase;
    
}

button {
    background-color: black;
    margin-right: 10px;
    padding: 5px;
    color: lightgrey;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    align-self: center;
}

label {
    padding-right: 10px;
    color: black;
    font-size: 15px;
    align-self: center;
    
}
