.NavBar {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

#logout {
  background-color: white;
  color: black;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
}
#logout:hover {
  background-color: lightgrey;
}

#title {
  font-size: 25px;
  color: white;
}

.Links {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

